[Desktop Entry]
Name=Militant
Comment=Réseau social militant décentralisé
Exec=militant
Icon=militant
Terminal=false
Type=Application
Categories=Network;SocialNetworking;
