[Desktop Entry]
Name=Militant
Comment=Le réseau social militant décentralisé
Exec=militant
Icon=militant
Terminal=false
Type=Application
Categories=Social;Network;
